<div class="ui fluid link card meme">
    <div class="image">
      <img src="" alt="">
    </div>
    <div class="extra content">
      <span class="likes">12.4k Likes</span>
      <!-- <i class="left floated full heart icon"></i> -->
      <i class="right floated flag outline icon meme-action meme-share-action" title="Flag as innappropriate"></i>
      <i class="right floated send icon meme-action meme-share-action" title="Share"></i>
      <i class="right floated like icon meme-action meme-like-action" ng-class="{active: liked}" ng-click="likeMeme()" title="Like"></i>
    </div>
</div>
